$index: calc(1vw + 1vh);
$index-fixed: 22px;
$color-header: #f4efec;
$color-text: #cdc6c3;
$gallery-gap: calc(#{$index} * 7.5);
$gallery-gap-fixed: 162px;

:root {
	--index: #{$index};
	--color-header: #{$color-header};
	--color-text: #{$color-text};
	--gallery-gap: #{$gallery-gap};
}

@media (min-width: 1200px) {
	:root {
	  --index: 22px;
	  --gallery-gap: 162px;
	}
  }

.content, .gallery {
  > * {
	  will-change: transform;
  }
}

.container1 {
	padding: 0 7vw;
}



.gallery {
	display: flex;
	padding: calc(#{$index} * 7) 0;
  > * {
	  flex: 1;
	  display: flex;
	  align-items: center;
	  flex-direction: column;
  }
}

.galleryItem {


	margin-bottom: $gallery-gap;
	max-height: 180vh;
	max-width: calc(#{$index} * 21);

	img{
		border-radius: 12px;
	}

}

.galleryLeft {

	margin-top: calc(#{$gallery-gap} * 1.35);

	.galleryItem {
		&:first-child {
			margin-top: 0;
		}
	}
}

.galleryRight {

	.galleryItem {
		margin: 0;
		margin-top: $gallery-gap;


	}
}

.galleryLeft, .galleryRight {

	margin-left: 10px;
	margin-right: 10px;

  }

.textBlock {
	color: $color-text;
	position: relative;
}

.textBlockH {
	font-size: 2rem;
	line-height: 2.4rem;
	color: $color-header;
	margin-bottom: 1.5rem;
}

.textBlockP {
	line-height: 1.75;
}

.hoverContainer {
	position: relative;
	cursor: pointer;
  }

  .hoverOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent 0%, #4a22bd 15%, #e838cc 50%, #4a22bd 85%, transparent 100%);
	opacity: 0; 
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in-out;
	z-index: 1;


  }
  .hoverContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.2em;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s ease;

	p {
	  margin: 5px 0;  // Odstępy zewnętrzne
	  text-align: center;  // Wyśrodkowanie tekstu

	  &:first-child {
		font-weight: bold;  // Pogrubienie dla pierwszego paragrafu
	  }

	}

	// Jeśli hoverOverlay jest "hovered"
	.hoverOverlay:hover & {
	  opacity: 1;  // Pokaż
	  transform: translateY(0);  // Przesuń do środka
	}
	.hoverContainer:hover & {
		opacity: 1;
		transform: translateY(0);
	  }
  }

  .hoverContainer:hover .hoverOverlay {
	opacity: 0.8;
  }

  .galleryItem img {
	transition: all 0.3s ease;
  }

  .hoverContainer:hover img {
	filter: brightness(0.7);

  }
  .buttonContainer {
	position: absolute;
	bottom: 10px;  // Pozycja od dołu
	left: 50%;  // Wyśrodkowanie w poziomie
	transform: translateX(-50%);  // Wyśrodkowanie w poziomie
	display: flex;
	gap: 10px;  // Odstęp między przyciskami

	.button {
	  background-color: white;
	  color: black;
	  padding: 5px 10px;
	  text-decoration: none;
	  border-radius: 5px;
	  font-size: 14px;
	  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	}
  }

  @keyframes gradient-animation {
	0% {
	  background: linear-gradient(90deg, transparent, #4a22bd,#e838cc, transparent);
	}
	100% {
	  background: linear-gradient(0deg, transparent, #4a22bd,#e838cc, transparent);
	}
  }